body{
    background-color: #f2f2f2;
    overflow: hidden;
}
*{
    padding: 0;
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

#slider {height: 650px;}

#slider .image{
    background: url("image/slide02.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#slider .image .info{margin-top: 22%;
    margin-right: 457px;}


